
html,body {
    margin: 0;
   
    padding: 0;
}
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* Fonts */
    --font-montserrat: Montserrat;
    --font-inter: Inter;
    --font-hawthorne-vintage: 'Hawthorne Vintage';
    
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    
    /* Colors */
    --color-gray: rgba(0, 0, 0, 0.6);
    --color-lightgreen: #48cb66;
    
    /* Paddings */
    --padding-5xs: 8px;
    --padding-xs: 12px;
    --padding-base: 16px;
    
    /* Border radiuses */
    --br-xs: 12px;
    --br-xl: 20px;
    --br-981xl: 1000px;
    
    /* Figma Variables */
    
    /* Color Variables */
    --color-brand-green: #173c1d;
    --color-grey-color-2: #b3b3b3;
    --primary-base-black: #000;
    --primary-base-white: #fff;
    --primary-gray-300: #d2d5da;
    
}



